LLAMA_ARG_MODEL=/models/granite-3.0-2b-instruct-Q4_K_M.gguf
LLAMA_ARG_ALIAS=granite-3.0-2b
LLAMA_ARG_CTX_SIZE=32768
LLAMA_ARG_N_PARALLEL=2
LLAMA_ARG_ENDPOINT_METRICS=1
LLAMA_ARG_PORT=8080
LLAMA_API_KEY=53cr3TenDPo1ntKeY
ENGINE_API_BASE=http://192.168.0.101:8080
ENGINE_API_KEY=${LLAMA_API_KEY}
LITELLM_BASE_URL=http://192.168.0.123:4000
LITELLM_API_KEY=sk-1234